%h1 Uploaded reports

%table{:border => 1}
  %thead
    %tr
      - ['Report', 'Instructions?', 'Parsed?'].each do |data|
        %td= data
  %tbody
    - @reports.each do |r|
      %tr
        %td= link_to r.name, report_path(r)
        %td= r.header&.instruction ? 'Y' : 'N'
        %td= r.parsed ? 'Y' : 'N'
        %td
          %button Parse (unimplemented)
